.gm-case-study {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 70px;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.gm-cs-rightside {
    display: grid;
    grid-gap: 16px;
    justify-content: start;
    align-content: start;
    padding-top: 52px;
}

.gm-case-studies-holder {
    margin-top: 52px;
    display: grid;
    grid-gap: 32px;
}

.gm-cs-r-data-holder {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    justify-content: start;
}

.gmcsrdata-item {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 6px;
    justify-content: start;
}

.gm-cs-leftside {
    position: relative;
    padding-bottom: 5%;
}

.gm-cs-leftside-bg {
    width: 420px;
    height: 315px;
    background-color: #2076FF;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
    opacity: 0.2;
    background: #2076FF;
    backdrop-filter: blur(2.278578281402588px);
}

@media only screen and (max-width: 1040px) {
    .gm-case-study {
        grid-gap: 16px;
        grid-template-columns: unset;
        grid-auto-flow: row;
    }

    .gm-cs-leftside {
        display: grid;
        justify-content: center;
    }

    .gm-cs-leftside-bg {
        right: calc(50% - 40px);
        transform: translateX(50%);
    }

    .gm-cs-rightside {
        padding-top: 0;
        order: 2;
    }
}

@media only screen and (max-width: 600px) {
    .gm-cs-leftside img {
        width: 100%;
        height: auto;
    }

    .gm-cs-leftside {
        padding-bottom: unset;
    }

    .gm-cs-leftside-bg {
        display: none;
    }

    .gm-cs-r-data-holder {
        grid-auto-flow: row;
        grid-gap: 8px;
    }
}

@media only screen and (max-width: 440px) {
    .gm-cs-rightside {
        grid-gap: 12px;
    }
}