.gm-footer {
    display: grid;
    grid-gap: 24px;
    margin-bottom: 52px;
}

.gm-footer-top,
.gm-footer-bottom {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.gm-footer-socials-holder {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 12px;
}

.gm-social {
    width: 52px;
    height: 52px;
    background-color: var(--white-10);
    border: 1px solid var(--white-10);
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.gm-footer-nav {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    align-items: center;
}

.gm-social:hover {
    background-color: var(--white-20);
}

.gm-footer-nav li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 640px) {
    .gm-footer-bottom {
        grid-auto-flow: row;
        grid-gap: 12px;
    }
}

@media only screen and (max-width: 440px) {
    .gm-footer {
        margin-bottom: 32px;
    }

    .gm-social {
        width: 40px;
        height: 40px;
    }

    .gm-social svg {
        width: 16px;
        height: 16px;
    }
}