/* FONT FACES */

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Book.ttf');
    font-weight: 300;
}

/* FONT FACES END */

/* VARIABLES */

:root {
    --main-blue: #5863F8;
    --main-black: #171D1C;
    --main-white: #FFF;
    --bg-black: #121319;
    --blue-10: rgba(88, 99, 248, 0.10);
    --black-80: rgba(23, 29, 28, 0.80);
    --black-70: rgba(23, 29, 28, 0.70);
    --black-60: rgba(23, 29, 28, 0.60);
    --black-20: rgba(23, 29, 28, 0.20);
    --black-10: rgba(23, 29, 28, 0.10);
    --black-secondary: #171D1C;
    --white-80: rgba(255, 255, 255, 0.80);
    --white-60: rgba(255, 255, 255, 0.60);
    --white-20: rgba(255, 255, 255, 0.20);
    --white-10: rgba(255, 255, 255, 0.10);
    --white-5: rgba(255, 255, 255, 0.05);
    --white-3: rgba(255, 255, 255, 0.03);
    --secondary-orange: #F78757;
    --secondary-green: #8AF757;
}

/* VARIABLES END */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    scroll-behavior: smooth;
}

body {
    font-family: 'Stolzl';
    font-size: 16px;
    background-color: var(--bg-black);
}

.container {
    max-width: 1060px;
    margin: auto;
    padding: 0 32px;
}

.--black-color {
    color: black !important;
}

.--h1 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    /* 120.833% */
    letter-spacing: -1.92px;
}

.--h2 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.6px;
}

.--uqh {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -1.28px;
}

.--h3 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.96px;
}

.--h4 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
}

.--h5 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
}

.--p1 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    /* text-transform: uppercase; */
}

.--p1-2 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    /* text-transform: uppercase; */
    letter-spacing: -0.64px;
}

.upper-case {
    text-transform: uppercase;
}

.--p2 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.64px;
}

.--p3 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.--p4 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.--p5 {
    color: var(--main-white);
    font-family: 'Stolzl';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.28px;
}

.btn {
    position: relative;
}

.btn button {
    background: none;
    outline: none;
    border: none;
    color: var(--main-black);
    font-size: 16px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 6px;
    cursor: pointer;
}

.btn-link button {
    background-color: var(--white-5);
    padding: 14px 24px;
    border-radius: 6px;
}

.btn-link:hover button {
    background-color: var(--white-10);
}

.btn-link:hover button svg path {
    stroke: var(--main-blue);
}

.btn-link button p {
    text-decoration: underline;
}

.btn-primary button {
    background-color: var(--main-blue);
    color: var(--main-white);
    padding: 14px 24px;
    border-radius: 6px;
    box-shadow: 0px 12px 16px -6px rgba(23, 29, 28, 0.16);
}

.btn-primary:hover button {
    background-color: #313BBE;
}

.btn-secondary button {
    background-color: var(--main-white);
    color: var(--main-black);
    padding: 14px 24px;
    border-radius: 6px;
    box-shadow: 0px 12px 16px -6px rgba(23, 29, 28, 0.16);
}

.btn-secondary:hover button {
    background-color: var(--white-80);
}

.btn-secondary button p {
    color: var(--main-black);
}

.gm-divider {
    width: auto;
    height: 1px;
    background-color: var(--white-20);
}

.--blue {
    color: var(--main-blue);
}

.--white-60 {
    color: var(--white-60);
}

.--white-80 {
    color: var(--white-80);
}

.space-52-between {
    padding-top: 52px;
    padding-bottom: 52px;
}

.text-center {
    text-align: center;
}

.medium-bold {
    font-weight: 500;
}

.break {
    display: block;
}

@media only screen and (max-width: 740px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media only screen and (max-width: 440px) {
    .space-52-between {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .--h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .--h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }

    .--uqh {
        font-size: 24px;
        line-height: normal;
    }

    .--h4,
    .--p1 {
        font-size: 14px;
        line-height: 16px;
    }

    .gm-header-nav {
        display: none;
    }

    .btn button {
        font-size: 14px;
    }

    .btn button svg {
        width: 16px;
        height: 16px;
    }

    .btn-link button {
        padding: 12px 16px;
    }

    .--p3 {
        font-size: 14px;
        line-height: 16px;
    }
}